<div class = "header-container">
  <div class="img-banner" id = "first">
    <div class = "header-title">
      <h1>Place Holder
        <div class="header-underline"></div>
      </h1>
    </div>
    <%= link_to download_pdf_consulting_path, class: "btn-download", target: :_blank do %>
      <i class="fa-solid fa-file-arrow-down download-icon" style="color: white"></i>
        <p style="color: white">download cv</p>
    <% end %>
  </div>
  <div class="img-banner" id = "second" >
    <div class = "header-title">
      <h1>Place Holder
        <div class="header-underline"></div>
      </h1>
    </div>
    <%= link_to download_pdf_web_dev_path, class: "btn-download", target: :_blank do %>
      <i class="fa-solid fa-file-arrow-down download-icon"></i>
        <p>download cv</p>
    <% end %>
  </div>
  <div class="img-banner" id = "third" href = "pierre_coppermann_cv_consulting.pdf" download>
    <div class = "header-title">
      <h1>Place Holder
        <div class="header-underline"></div>
      </h1>
    </div>
  </div>
</div>
<h1>Hello there</h1>
<%# ../../assets/curiculums/pierre_coppermann_cv_web_dev.pdf %>
