<div id="header-image"></div>
<div class="header-background">
  <div class="header-box">
    <h1 class = "heading">I am</h1>
    <h1 class = "my-name">Pierre Coppermann</h1>
    <h2 class = "punchline">Student/Teacher/Developper</h2>
  </div>
    <div id="scrollable">
      <i class="fa-sharp fa-solid fa-chevron-down"></i>
  </div>
</div>

<div class = "profile-container">
  <div class="img-banner" id = "first">
    <div class = "profile-title">
      <h1>Place Holder
        <div class="profile-underline"></div>
      </h1>
    </div>
    <%= link_to download_pdf_consulting_path, class: "btn-download", target: :_blank do %>
      <i class="fa-solid fa-file-arrow-down download-icon" style="color: white"></i>
        <p style="color: white">download cv</p>
    <% end %>
  </div>
  <div class="img-banner" id = "second" >
    <div class = "profile-title">
      <h1>Place Holder
        <div class="profile-underline"></div>
      </h1>
    </div>
    <%= link_to download_pdf_web_dev_path, class: "btn-download", target: :_blank do %>
      <i class="fa-solid fa-file-arrow-down download-icon"></i>
        <p>download cv</p>
    <% end %>
  </div>
  <div class="img-banner" id = "third" href = "pierre_coppermann_cv_consulting.pdf" download>
    <div class = "profile-title">
      <h1>Place Holder
        <div class="profile-underline"></div>
      </h1>
    </div>
  </div>
</div>
<h1>Hello there</h1>
<%# ../../assets/curiculums/pierre_coppermann_cv_web_dev.pdf %>
